[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
scipy = "*"
sweetviz = "*"
seaborn = "*"
scikit-learn = "*"
statsmodels = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pingouin = "*"
ipykernel = "*"
gradio = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
